@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Concert+One&family=Dela+Gothic+One&family=Gabarito&family=Lato:wght@700&family=Lora:wght@700&family=Mogra&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@1,700&family=Signika:wght@600&family=Suez+One&family=Ubuntu&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    background: #e3f2fd;
    align-items: center;
    justify-content: center;
}


.container{
    background-image: url("./image/bg.png");
    background-size: cover;
    border-radius: 28px;
    padding: 25px;
    width: 100%;
    max-width: 380px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


header,
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 45px;
    margin-right: 10px;
}

h5{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

header .chip{
    width: 60px;
}

h6{
    font-size: 10px;
    color: #fff;
    font-weight: 400;
}

h5.number{
    font-size: 18px;
    letter-spacing: 1px;
}

h5.name{
    margin-top: 20px;
}

.container .card-details{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

